.consultation {
  background: url(../img/backgrounds/consultation-bg.jpg) center (center/cover)
    no-repeat;
  padding: 90px 0;
  color: #ffffff;
}

.consultation__title {
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.consultation__descr {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}
